[Unit]
Description=Tri-state LED network monitor
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/libexec/ledmonitor

[Install]
WantedBy=multi-user.target

